<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9 supports-no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="supports-no-js" > <!--<![endif]-->
 
<head>
  <meta lang = "en" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
  <meta http-equiv="Content-Language" content="en, fr, es" translate="yes" />
  <meta name="viewport" content="width=device-width,initial-scale=1, minimal-scale=1" />
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <meta description="GBANT, automotive, cell phone, clothing, coffee, computer, entertainment, halloween, home, jewelry, pets, small engine, sun glasses, tools, toys, Ecommerce Distributor, Affilliate, Online Shop"/>
   <!-- Keywords !-->
  <meta name="keywords" content="CURREN, Luxury Brand, Quartz, Watch"/>
  <meta name="keywords" content="Blue Zirconia, 925 Sterling Silver, Pendant"/>
  <meta name="keywords" content="Stainless Steel, Medical Alert, ID Tag, Bracelet"/>
  <meta name="keywords" content="auto, cell phone, 100% Original, Samsung, Galaxy, S5 Battery, clothing, coffee, fun coffee mugs, computer, entertainment, halloween, home, jewelry, pets, small engine, sports, sunglasses, tools, toys, 100% 925 Sterling Silver, I Love You Heart Ring, Curren, Full Stainless Steel, Military, Casual, Sport Watch, Smart Bracelet, Watch Phone, Diamond, Engagement, Ring, Moissanite, 1ct,  "/>
  <!-- END Keywords !-->
  <!-- Twitter !-->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@Gbant4" />
<meta name="twitter:creator" content="@Gbant4" />
<meta property="og:url" content="https://www.gbant.com/" />
<meta property="og:title" content="Gbant Store" />
<meta property="og:description" content="GBANT, automotive, cell phone, clothing, coffee, computer, entertainment, halloween, home, jewelry, pets, small engine, sun glasses, tools, toys" />
<meta property="og:image" content="https://cdn.shopify.com/s/files/1/2362/2623/files/20130531_173701.jpg?4927825002682029" />
  <!-- END TWITTER !-->
  <h6></h6>
  <!-- Google Verify !-->
  <meta name="google-site-verification" content="YW6zTA-_hq0J80BidobQHisAu6VMdB3_F7EI7tuO2RU" />
  <!-- End Google Verify !-->
  <link rel="canonical" href="https://www.gbant.com" />
  <link rel="canonical" href="https://www.gbant.com/?ref=fireamp" />
  <link href="https://cdn.shopify.com/s/files/1/2362/2623/t/3/assets/theme.scss.css?10917529199564117747" />
<!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107310176-1"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107310176-2"></script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;
j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M6XDTH5');
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);};
    {
  gtag('analytics.js', new Date());
      var sha256 = ('js- sha256', 'require');
  gtag('config', 'UA-107310176-1');
  gtag('config', 'UA-107310176-2');
    };
  </script>
  <!-- END GTAG !-->
  
<!--Ld JSON !-->
  <script type="application+ldJson">
  var sha256 = ('js- sha256', 'require');
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://www.gbant.com",
  "name": "Gbant Store",
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+1-508-265-3409",
    "contactType": "Customer service";
  },{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "https://www.gbant.com/collections/auto",
      "name": "Auto",
      "image": "https://cdn.shopify.com/s/files/1/2362/2623/products/product-image-312768946_540x.jpg?v=1508346531"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "https://www.gbant.com/collections/cell-phone",
      "name": "Cell Phone",
      "image": "https://cdn.shopify.com/s/files/1/2362/2623/products/product-image-394636642_540x.jpg?v=1507130217"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "https://www.gbant.com/collections/clothing",
      "name": "Clothing",
      "image": "https://cdn.shopify.com/s/files/1/2362/2623/products/product-image-341596805_540x.jpg?v=1506609895"
    }
  },{
    "@type": "ListItem",
    "position": 4,
    "item": {
      "@id": "https://www.gbant.com/collections/coffee",
      "name": "Coffee",
      "image": "https://cdn.shopify.com/s/files/1/2362/2623/products/product-image-341274548_540x.png?v=1508975176"
      }
  }]
};
  </script>
    <!-- End LD JSON !-->
  
  <!-- End Breadcrumbs !-->
  <!-- Amazon !-->
<script type="text/javascript">
  var sha256 = ('js- sha256', 'require');
amzn_assoc_placement = "adunit0";
amzn_assoc_tracking_id = "gbant-20";
amzn_assoc_ad_mode = "search";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_default_search_phrase = "Adventure";
amzn_assoc_default_category = "Magazines";
amzn_assoc_linkid = "dedc33972d8e42d7d03659bc6a5c6852";
amzn_assoc_design = "in_content";
amzn_assoc_default_browse_node = "599858";
amzn_assoc_title = "Adventure";
</script>
<script document="read" src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
  <!-- Amazon Mobile PopOver !-->

  
  <!-- END AMAZON !-->
  
<!-- 404 !-->  
  <p hidden >
  <script>
  
  </script>
  </p>
  <!-- END 404 REDIRECTS -->
  
  <!-- Facebook !-->
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#" />
  <meta property="fb:app_id" content="966242223397117" /> 
  <meta property="og:type"   content="website" /> 
  <meta property="og:url"    content="https://www.gbant.com/" /> 
  <meta property="og:title"  content="Gbant" /> 
  <meta property="og:image"  content="https://cdn.shopify.com/s/files/1/2362/2623/files/20130531_173701.jpg?4927825002682029" /> 
 
  <!-- END Facebook !-->
  
  <!-- BING META VERIFICATION !-->
  <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"5784335"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
  <noscript><img src="//bat.bing.com/action/0?ti=5784335&Ver=2" height="0" width="0" style="display:none; visibility: hidden;" /></noscript>
  <meta name="msvalidate.01" content="ACA396AABD102C2DA661A1054A9AB812" />
  <!-- END BING META VERIFICATION !-->
  <!-- Bing UET tag tracking code !-->
  <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"5784335"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
  <noscript><img src="//bat.bing.com/action/0?ti=5784335&Ver=2" height="0" width="0" style="display:none; visibility: hidden;" /></noscript>
  <!-- END BING tag tracking code !-->
  <!-- Pintrest !-->
  <meta name="p:domain_verify" content="45825ccda35b405eb331c6ae16ffe0ca"/>
  <script type="text/javascript">
    !function(e){if(!window.pintrk){window.pintrk=function(){window.pintrk.queue.push(
      Array.prototype.slice.call(arguments))};var
      n=window.pintrk;n.queue=[],n.version="3.0";var
      t=document.createElement("script");t.async=!0,t.src=e;var
      r=document.getElementsByTagName("script")[0];r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
    pintrk('load', '2619844517123');
    pintrk('page');
  </script>
  <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://ct.pinterest.com/v3/?tid=YOUR_TAG_ID&noscript=1" />
  </noscript>
  <!-- End Pintrest !-->
  
  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  <script>
    document.documentElement.className = document.documentElement.className.replace('supports-no-js', 'supports-js');

    var theme = {
      mapStrings: {
        addressError: {{ 'homepage.map.address_error' | t | json }},
        addressNoResults: {{ 'homepage.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'homepage.map.address_query_limit_html' | t | json }},
        authError: {{ 'homepage.map.auth_error_html' | t | json }}
      }
    }
  </script>

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- Google Fonts !-->
  {% if settings.type_base_family contains 'Google' %}
    {% assign type_base_parts = settings.type_base_family | split: '_' %}
    {% capture base_google_url %}{{ type_base_parts[1] }}:400,700{% endcapture %}
    {{ '//fonts.googleapis.com/css?family=' | append: base_google_url | stylesheet_tag }}
  {% endif %}
  {% if settings.type_header_family contains 'Google' %}
    {% unless settings.type_header_family contains type_base_parts[1] %}
      {% assign type_header_parts = settings.type_header_family | split: '_' %}
      {% capture header_google_url %}{{ type_header_parts[1] }}:400,700{% endcapture %}
      {{ '//fonts.googleapis.com/css?family=' | append: header_google_url | stylesheet_tag }}
    {% endunless %}
  {% endif %}

  {{ content_for_header }}

  {{ 'jquery-3.3.1.min.js' | asset_url | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->

  {% if template.directory == 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
{% if template contains 'product' %}
  <link rel="amphtml" href="//{{shop.domain}}/apps/fireamp/products/{{product.handle}}" >
{% endif %}{% if template contains 'collection' %}
  <link rel="amphtml" href="//{{shop.domain}}/apps/fireamp/collections/{{collection.handle}}" >
{% endif %}
{% if template contains 'blog' %}  
      <link rel="amphtml" href="//{{shop.domain}}/apps/fireamp/blogs/{{blog.handle}}" >
{% endif %}
{% if template contains 'article' %}
      <link rel="amphtml" href="//{{shop.domain}}/apps/fireamp/blogs/{{article.handle}}" >
{% endif %}  </head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | split: '.' | first | handle }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
  <!-- GTAG MANAGER !-->
  <script async= "" src= "https://www.googletagmanager.com/gtm.js?id=GTM-M6XDTH5" > </script>
  <!-- END GTAG MANAGER !-->
  {% section "header" %}
  {% comment %}
    <hr class="small--hide hr--small">
    {% endcomment %}

  <div class="site-wrapper">

    <div class="grid">
      

      {% section "sidebar" %}

      <main class="main-content grid__item medium-up--four-fifths" id="MainContent" role="main">
        {% unless template.name == 'index' %}
          <hr class="hr--border-top small--hide">
        {% endunless %}
        {% if settings.show_breadcrumb_nav and template.name != 'index' %}
          {% include 'breadcrumb-nav' %}
        {% endif %}
        {{ content_for_layout }}
      </main>

    </div>

    <hr>

    {% section "footer" %}

  </div>

  {% if template.name == 'product' or template.name == 'index' %}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
    <script>
      // Set a global variable for theme.js to use on product single init
      window.theme = window.theme || {};
      theme.moneyFormat = {{ shop.money_format | json }};
      theme.productSingleObject = {{ product | json }};
    </script>
  {% endif %}
  {{ 'theme.js' | asset_url | script_tag }}
  <ul>
    <ol>
  <li><a rel="noopener" href="https://www.google.com/webmasters/tools/external-links-domain-to-page?hl=en&siteUrl=https://www.gbant.com/&bldomain=myshopify.com"></a></li>
  <li><a rel="nofollow" href="https://pintrest.com/gbant24882"></a></li>
  <li><a rel="nofollow" href="https://plus.google.com/"></a></li>
  <li><a rel="nofollow" href="https://www.facebook.com/Gbant24882/"></a></li>
  <li><a rel="nofollow"href="https://www.instagram.com/gbant24882/"></a></li>
  <li><a rel="nofollow"href="https://twitter.com/Gbant4"></a></li>
      <li><a rel="noopener" href="https://click.shop-finditquick.com/"></a></li></ol></ul>
  <!-- BEEKETINGSCRIPT CODE START -->{% include 'bk-tracking' %}<!-- BEEKETINGSCRIPT CODE END --></body>
</html>
